body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: dimgray;
    color: #fff;
    text-align: center;
}

#navbar{
    background-color: grey;
    color: #fff;
    text-align: center;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase{
    background-position: center;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    color: #555;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    background: dimgray;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* About */
#about-showcase{
    background-position: center;
    min-height: 300px;
    text-align: center;
    font-size: 22px;
}

#about-main1{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#about-main2{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box
}

#about-main3{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#about-sidebar1{
    float: right;
    width: 30%;
    color: #555;
    padding: 10px;
    box-sizing: border-box;
    font-size: 22px;
}

#about-sidebar2{
    float: right;
    width: 30%;
    color: #555;
    margin-top: 130px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 22px;
}

#about-sidebar3{
    float: right;
    width: 30%;
    color: #555;
    margin-top: 130px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 22px;
}

/* Contact */
.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
    padding-left: 10px;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    margin-left: 10px;
    width: 90%;
}

#contact-showcase{
    text-align: center;
}